@import '../../../scss/mixins';
@import '../../../scss/variables';
.user-card {
  margin: map-get($spacing, xs);
  padding: map-get($spacing, xs);
  width: grid-width(3, true);
  box-sizing: border-box;
  height: 448px;
  float: left;
  transition: all 0.6s ease;
	box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
  background-color: map-get($grays-color,lightest);
  position: relative;

  
   @media(max-width: map-get($breakpoints, xl)) {
    width: grid-width(4, true);
   };
   @media(max-width: map-get($breakpoints, lg)) {
    width: grid-width(6, true);
    margin: map-get($spacing, xs);
   };
  
   @media(max-width: map-get($breakpoints, md)) {
    width: grid-width(12, true);
    margin: map-get($spacing, xs);
   };

   &--list{
    width: grid-width(12, false);
    height: 90px;
    float: left;
    transition: all 0.6s ease;
    box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
    background-color: map-get($grays-color,lightest);
    overflow: hidden;
    margin-top: map-get($spacing, small);
    padding: map-get($spacing, xs);
    box-sizing: border-box;

    &__avatar {
      
      width: grid-width(2, true);
      text-align: center;
      //margin-top: map-get($spacing, small);
      float:left;
      & img {
        width: 60px;
        overflow: hidden;
        margin: auto;
        border: 2px solid map-get($primary-palette,lighten-10);
      }
      @media(max-width: map-get($breakpoints, md)) {
       display: none;
       };
  
    }
    &__id{
      width: grid-width(2, true);
      text-align: right;
      font-size: map-get($font-size,small);
      font-weight: bold;
      color: map-get($grays-color,Grays-Darkest);
      position: absolute;
      display: none;
  
    }


    &__name{
      text-align: left !important;
      width: grid-width(3, true);
      color: map-get($primary-palette,darken-20);
      float:left;
      
    }
    &__name-title{
      text-align: left;
      padding-top: map-get($spacing, small);
      color: map-get($primary-palette,darken-20);
    }


    &__email{
      text-align: center;
      width: grid-width(5, true);

      color: map-get($grays-color,darkest);
      font-size: map-get($font-size,normal);
      font-weight: 600;
      float: left;
      padding-top: 20px;
      box-sizing: border-box;
      & a {
        color: map-get($secundary-palette,secundary);
        text-decoration: none;
      }
      & a:hover {
        color: map-get($secundary-palette,lighten-10);
        text-decoration: underline;
      }
      @media(max-width: map-get($breakpoints, md)) {
        display: none;
       };
    }
  
    &__email-icon{
      text-align: center;
      color: map-get($grays-color,darkest);
      font-size: map-get($font-size,normal);
      font-weight: 600;
      margin-top: map-get($spacing, xs);
      margin-bottom: map-get($spacing, xs);
      & a {
        color: map-get($secundary-palette,secundary);
        text-decoration: none;
      }
      & a:hover {
        color: map-get($secundary-palette,lighten-10);
        text-decoration: underline;
      }
    }
    &__button{
      float: left;
      width: grid-width(2, true);
      bottom: 20px;
      text-align: right;
      @media(max-width: map-get($breakpoints, md)) {
        width: grid-width(8, true);
        margin-left: 20px;
        
       };
    }

   } 






  &__avatar {
    text-align: center;
    margin-top: map-get($spacing, small);
    float:left;
    width: 100%;
    & img {
      border-radius: 50%;
      overflow: hidden;
      margin: auto;
      border: 5px solid map-get($primary-palette,lighten-10);
    }

  }
  &__id{
    width: 100%;
    text-align: right;
    font-size: map-get($font-size,small);
    font-weight: bold;
    color: map-get($grays-color,Grays-Darkest);

  }
  &__name{
    text-align: center;
    //padding-top: map-get($spacing, small);
    color: map-get($primary-palette,darken-20);
    float:left;
    width: 100%;
  }
  &__name-title{
    text-align: center;
    padding-top: map-get($spacing, small);
    color: map-get($primary-palette,darken-20);
  }

  &__email{
    text-align: center;
    width: 100%;
    color: map-get($grays-color,darkest);
    font-size: map-get($font-size,normal);
    font-weight: 600;
    & a {
      color: map-get($secundary-palette,secundary);
      text-decoration: none;
    }
    & a:hover {
      color: map-get($secundary-palette,lighten-10);
      text-decoration: underline;
    }
  }

  &__email-icon{
    text-align: center;
    width: 100%;
    color: map-get($grays-color,darkest);
    font-size: map-get($font-size,normal);
    font-weight: 600;
    display: block;
    margin-top: map-get($spacing, xs);
    margin-bottom: map-get($spacing, xs);
    & a {
      color: map-get($secundary-palette,secundary);
      text-decoration: none;
    }
    & a:hover {
      color: map-get($secundary-palette,lighten-10);
      text-decoration: underline;
    }
  }



  &__button{
    position: absolute;
    width: calc(100% - 30px);
    bottom: 20px;
    text-align: center;
  }
}
