@import '../../../scss/mixins';
@import '../../../scss/variables';
.icon-base {
  font-family: "basic-design-system";
  //color: black;
  font-style: normal;
  font-weight: normal;
  speak-as: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
 

&--emo-happy:before { content: '\e800'; } /* '' */
&--emo-wink:before { content: '\e801'; } /* '' */
&--emo-unhappy:before { content: '\e802'; } /* '' */
&--emo-sleep:before { content: '\e803'; } /* '' */
&--th:before { content: '\e804'; } /* '' */
&--th-list:before { content: '\e805'; } /* '' */
&--ok:before { content: '\e806'; } /* '' */
&--cancel:before { content: '\e807'; } /* '' */
&--minus:before { content: '\e808'; } /* '' */
&--mobile-1:before { content: '\e809'; } /* '' */
&--phone-1:before { content: '\e80a'; } /* '' */
&--plus:before { content: '\e80b'; } /* '' */
&--user:before { content: '\e80c'; } /* '' */
&--emo-angry:before { content: '\e80d'; } /* '' */
&--user-outline:before { content: '\e80e'; } /* '' */
&--left-open:before { content: '\e80f'; } /* '' */
&--user-add-outline:before { content: '\e810'; } /* '' */
&--user-add:before { content: '\e811'; } /* '' */
&--user-delete-outline:before { content: '\e812'; } /* '' */
&--emo-wink2:before { content: '\e813'; } /* '' */
&--right-open:before { content: '\e814'; } /* '' */
&--up-open:before { content: '\e815'; } /* '' */
&--down-open:before { content: '\e816'; } /* '' */
&--basket:before { content: '\e817'; } /* '' */
&--user-delete:before { content: '\e818'; } /* '' */
&--spin6:before { 
  content: '\e819';
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block; 
} /* '' */
&--cc:before { content: '\e81a'; } /* '' */
&--cc-by:before { content: '\e81b'; } /* '' */
&--tablet:before { content: '\e81c'; } /* '' */
&--laptop:before { content: '\e81d'; } /* '' */
&--desktop:before { content: '\e81e'; } /* '' */
&--at:before { content: '\e81f'; } /* '' */
&--block:before { content: '\e820'; } /* '' */
&--pencil:before { content: '\e821'; } /* '' */
&--award:before { content: '\e822'; } /* '' */
&--award-empty:before { content: '\e823'; } /* '' */
&--fontsize-1:before { content: '\e824'; } /* '' */
&--mail-1:before { content: '\e828'; } /* '' */
&--heart:before { content: '\e829'; } /* '' */
&--star:before { content: '\e82a'; } /* '' */
&--star-empty:before { content: '\e82b'; } /* '' */
&--youtube:before { content: '\e82d'; } /* '' */
&--quote:before { content: '\e82e'; } /* '' */
&--qrcode:before { content: '\e833'; } /* '' */
&--spin4:before { 
  content: '\e834';
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
 } /* '' */
&--code:before { content: '\e836'; } /* '' */
&--spin5:before { 
  content: '\e838';
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
 } /* '' */
&--attach:before { content: '\e839'; } /* '' */
&--link:before { content: '\e83a'; } /* '' */
&--search-1:before { content: '\e83b'; } /* '' */
&--mail-2:before { content: '\e83c'; } /* '' */
&--quote-1:before { content: '\e83d'; } /* '' */
&--tag:before { content: '\e83e'; } /* '' */
&--info:before { content: '\e83f'; } /* '' */
&--heart-1:before { content: '\e841'; } /* '' */
&--heart-filled:before { content: '\e842'; } /* '' */
&--pi:before { content: '\e843'; } /* '' */
&--menu:before { content: '\f008'; } /* '' */
&--star-half:before { content: '\f022'; } /* '' */
&--star-half_empty:before { content: '\f024'; } /* '' */
&--mail-alt:before { content: '\f0e0'; } /* '' */
&--github-text:before { content: '\f307'; } /* '' */
&--twitter:before { content: '\f309'; } /* '' */
&--facebook:before { content: '\f30c'; } /* '' */
&--linkedin:before { content: '\f318'; } /* '' */
&--instagram:before { content: '\f32d'; } /* '' */
&--skype:before { content: '\f339'; } /* '' */
&--behance:before { content: '\f34e'; } /* '' */
}
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}