@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap);
@font-face{font-family:'basic-design-system';src:url(../../static/media/basic-design-system.78c12d88.eot);src:url(../../static/media/basic-design-system.78c12d88.eot) format("embedded-opentype"),url(../../static/media/basic-design-system.bf88abfe.woff2) format("woff2"),url(../../static/media/basic-design-system.3b27b5de.woff) format("woff"),url(../../static/media/basic-design-system.95894421.ttf) format("truetype"),url(../../static/media/basic-design-system.6a8a9329.svg) format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'basic-design-system';src:url(../../static/media/basic-design-system.78c12d88.eot);src:url(../../static/media/basic-design-system.78c12d88.eot) format("embedded-opentype"),url(../../static/media/basic-design-system.bf88abfe.woff2) format("woff2"),url(../../static/media/basic-design-system.3b27b5de.woff) format("woff"),url(../../static/media/basic-design-system.95894421.ttf) format("truetype"),url(../../static/media/basic-design-system.6a8a9329.svg) format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'basic-design-system';src:url(../../static/media/basic-design-system.78c12d88.eot);src:url(../../static/media/basic-design-system.78c12d88.eot) format("embedded-opentype"),url(../../static/media/basic-design-system.bf88abfe.woff2) format("woff2"),url(../../static/media/basic-design-system.3b27b5de.woff) format("woff"),url(../../static/media/basic-design-system.95894421.ttf) format("truetype"),url(../../static/media/basic-design-system.6a8a9329.svg) format("svg");font-weight:normal;font-style:normal}.button_button__3unRp{margin:0 auto}.button_button--default-p-s__2KVw4{box-sizing:border-box;cursor:pointer;outline:unset;padding:10px 15px;text-align:center;margin-top:0;font-size:18px !important;text-shadow:1px 1px 0 rgba(0,0,0,0.1);transition:all .4s ease;font-size:13px;border:none;background-color:#EB3457 !important;border-radius:0 !important;padding:15px 30px !important;color:#fff !important}.button_button--default-p-s__2KVw4:hover{transition:.3s ease}.button_button--default-p-s__2KVw4 svg{fill:#fff}.button_button--default-p-s__2KVw4:hover{background-color:#d7153a !important;color:#fff !important;box-shadow:0 -3px 0 rgba(0,0,0,0.2) inset}.button_button--default-p-s__2KVw4:active{background-color:#ff0232 !important}.button_button--default-p-m__3jRif{box-sizing:border-box;cursor:pointer;outline:unset;padding:10px 15px;text-align:center;margin-top:0;font-size:18px !important;text-shadow:1px 1px 0 rgba(0,0,0,0.1);transition:all .4s ease;font-size:13px;border:none;background-color:#EB3457 !important;border-radius:0 !important;padding:15px 60px !important;color:#fff !important}.button_button--default-p-m__3jRif:hover{transition:.3s ease}.button_button--default-p-m__3jRif svg{fill:#fff}.button_button--default-p-m__3jRif:hover{background-color:#d7153a !important;color:#fff !important;box-shadow:0 -3px 0 rgba(0,0,0,0.2) inset}.button_button--default-p-m__3jRif:active{background-color:#ff0232 !important}.button_button--default-p-l__2MeGp{box-sizing:border-box;cursor:pointer;outline:unset;padding:10px 15px;text-align:center;margin-top:0;font-size:18px !important;text-shadow:1px 1px 0 rgba(0,0,0,0.1);transition:all .4s ease;font-size:13px;border:none;background-color:#EB3457 !important;border-radius:0 !important;padding:15px 60px !important;color:#fff !important}.button_button--default-p-l__2MeGp:hover{transition:.3s ease}.button_button--default-p-l__2MeGp svg{fill:#fff}.button_button--default-p-l__2MeGp:hover{background-color:#d7153a !important;color:#fff !important;box-shadow:0 -3px 0 rgba(0,0,0,0.2) inset}.button_button--default-p-l__2MeGp:active{background-color:#ff0232 !important}.button_button--default-s-s__1Uuqo{box-sizing:border-box;cursor:pointer;outline:unset;padding:10px 15px;text-align:center;margin-top:0;font-size:18px !important;text-shadow:1px 1px 0 rgba(0,0,0,0.1);transition:all .4s ease;font-size:13px;border:none;background-color:#39517A !important;border-radius:0 !important;padding:15px 30px !important;color:#fff !important}.button_button--default-s-s__1Uuqo:hover{transition:.3s ease}.button_button--default-s-s__1Uuqo svg{fill:#fff}.button_button--default-s-s__1Uuqo:hover{background-color:#293a57 !important;color:#fff !important;box-shadow:0 -3px 0 rgba(0,0,0,0.2) inset}.button_button--default-s-s__1Uuqo:active{background-color:#49689d !important}.button_button--default-s-m__UCwEc{box-sizing:border-box;cursor:pointer;outline:unset;padding:10px 15px;text-align:center;margin-top:0;font-size:18px !important;text-shadow:1px 1px 0 rgba(0,0,0,0.1);transition:all .4s ease;font-size:13px;border:none;background-color:#39517A !important;border-radius:0 !important;padding:15px 60px !important;color:#fff !important}.button_button--default-s-m__UCwEc:hover{transition:.3s ease}.button_button--default-s-m__UCwEc svg{fill:#fff}.button_button--default-s-m__UCwEc:hover{background-color:#293a57 !important;color:#fff !important;box-shadow:0 -3px 0 rgba(0,0,0,0.2) inset}.button_button--default-s-m__UCwEc:active{background-color:#49689d !important}.button_button--default-s-l__3G9u5{box-sizing:border-box;cursor:pointer;outline:unset;padding:10px 15px;text-align:center;margin-top:0;font-size:18px !important;text-shadow:1px 1px 0 rgba(0,0,0,0.1);transition:all .4s ease;font-size:13px;border:none;background-color:#39517A !important;border-radius:0 !important;padding:15px 60px !important;color:#fff !important}.button_button--default-s-l__3G9u5:hover{transition:.3s ease}.button_button--default-s-l__3G9u5 svg{fill:#fff}.button_button--default-s-l__3G9u5:hover{background-color:#293a57 !important;color:#fff !important;box-shadow:0 -3px 0 rgba(0,0,0,0.2) inset}.button_button--default-s-l__3G9u5:active{background-color:#49689d !important}

@font-face{font-family:'basic-design-system';src:url(../../static/media/basic-design-system.78c12d88.eot);src:url(../../static/media/basic-design-system.78c12d88.eot) format("embedded-opentype"),url(../../static/media/basic-design-system.bf88abfe.woff2) format("woff2"),url(../../static/media/basic-design-system.3b27b5de.woff) format("woff"),url(../../static/media/basic-design-system.95894421.ttf) format("truetype"),url(../../static/media/basic-design-system.6a8a9329.svg) format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'basic-design-system';src:url(../../static/media/basic-design-system.78c12d88.eot);src:url(../../static/media/basic-design-system.78c12d88.eot) format("embedded-opentype"),url(../../static/media/basic-design-system.bf88abfe.woff2) format("woff2"),url(../../static/media/basic-design-system.3b27b5de.woff) format("woff"),url(../../static/media/basic-design-system.95894421.ttf) format("truetype"),url(../../static/media/basic-design-system.6a8a9329.svg) format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'basic-design-system';src:url(../../static/media/basic-design-system.78c12d88.eot);src:url(../../static/media/basic-design-system.78c12d88.eot) format("embedded-opentype"),url(../../static/media/basic-design-system.bf88abfe.woff2) format("woff2"),url(../../static/media/basic-design-system.3b27b5de.woff) format("woff"),url(../../static/media/basic-design-system.95894421.ttf) format("truetype"),url(../../static/media/basic-design-system.6a8a9329.svg) format("svg");font-weight:normal;font-style:normal}.icon_icon-base__1oTJU{font-family:"basic-design-system";font-style:normal;font-weight:normal;speak-as:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-feature-settings:normal;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon_icon-base--emo-happy__2wB-O:before{content:'\e800'}.icon_icon-base--emo-wink__1J6TU:before{content:'\e801'}.icon_icon-base--emo-unhappy__3ew52:before{content:'\e802'}.icon_icon-base--emo-sleep__1BFjL:before{content:'\e803'}.icon_icon-base--th__29rh6:before{content:'\e804'}.icon_icon-base--th-list__27JV0:before{content:'\e805'}.icon_icon-base--ok__3eT7-:before{content:'\e806'}.icon_icon-base--cancel__9tqak:before{content:'\e807'}.icon_icon-base--minus__3_sB5:before{content:'\e808'}.icon_icon-base--mobile-1__2A36j:before{content:'\e809'}.icon_icon-base--phone-1__3gPeB:before{content:'\e80a'}.icon_icon-base--plus__2R4w2:before{content:'\e80b'}.icon_icon-base--user__3Ksi6:before{content:'\e80c'}.icon_icon-base--emo-angry__3bi6L:before{content:'\e80d'}.icon_icon-base--user-outline__14uIE:before{content:'\e80e'}.icon_icon-base--left-open__2WpZI:before{content:'\e80f'}.icon_icon-base--user-add-outline__2wSi5:before{content:'\e810'}.icon_icon-base--user-add__2foVU:before{content:'\e811'}.icon_icon-base--user-delete-outline__3Xx3c:before{content:'\e812'}.icon_icon-base--emo-wink2__1QKxl:before{content:'\e813'}.icon_icon-base--right-open__2zG1M:before{content:'\e814'}.icon_icon-base--up-open__2t2MU:before{content:'\e815'}.icon_icon-base--down-open__z9900:before{content:'\e816'}.icon_icon-base--basket__27ick:before{content:'\e817'}.icon_icon-base--user-delete__1zp_A:before{content:'\e818'}.icon_icon-base--spin6__1b1IR:before{content:'\e819';-webkit-animation:icon_spin__5oEj9 2s infinite linear;animation:icon_spin__5oEj9 2s infinite linear;display:inline-block}.icon_icon-base--cc__nnC8i:before{content:'\e81a'}.icon_icon-base--cc-by__3KqBc:before{content:'\e81b'}.icon_icon-base--tablet__2BzVY:before{content:'\e81c'}.icon_icon-base--laptop__3K3ls:before{content:'\e81d'}.icon_icon-base--desktop__3w50P:before{content:'\e81e'}.icon_icon-base--at__1QGgW:before{content:'\e81f'}.icon_icon-base--block__nR54W:before{content:'\e820'}.icon_icon-base--pencil__oBVpW:before{content:'\e821'}.icon_icon-base--award__MZwpJ:before{content:'\e822'}.icon_icon-base--award-empty__2fK80:before{content:'\e823'}.icon_icon-base--fontsize-1__3F2Lj:before{content:'\e824'}.icon_icon-base--mail-1__3IPlG:before{content:'\e828'}.icon_icon-base--heart__395Qr:before{content:'\e829'}.icon_icon-base--star__2EzDq:before{content:'\e82a'}.icon_icon-base--star-empty__uM34n:before{content:'\e82b'}.icon_icon-base--youtube__kB5qC:before{content:'\e82d'}.icon_icon-base--quote__3hw3y:before{content:'\e82e'}.icon_icon-base--qrcode__WoNjc:before{content:'\e833'}.icon_icon-base--spin4__1-XJn:before{content:'\e834';-webkit-animation:icon_spin__5oEj9 2s infinite linear;animation:icon_spin__5oEj9 2s infinite linear;display:inline-block}.icon_icon-base--code__1_Op5:before{content:'\e836'}.icon_icon-base--spin5__1StRR:before{content:'\e838';-webkit-animation:icon_spin__5oEj9 2s infinite linear;animation:icon_spin__5oEj9 2s infinite linear;display:inline-block}.icon_icon-base--attach__2FKvf:before{content:'\e839'}.icon_icon-base--link__IioAt:before{content:'\e83a'}.icon_icon-base--search-1__3_mcO:before{content:'\e83b'}.icon_icon-base--mail-2__2U9J1:before{content:'\e83c'}.icon_icon-base--quote-1__16VGQ:before{content:'\e83d'}.icon_icon-base--tag__1KNt5:before{content:'\e83e'}.icon_icon-base--info__17dZn:before{content:'\e83f'}.icon_icon-base--heart-1__2bor3:before{content:'\e841'}.icon_icon-base--heart-filled__3o8rU:before{content:'\e842'}.icon_icon-base--pi__2gKoF:before{content:'\e843'}.icon_icon-base--menu__DFhxl:before{content:'\f008'}.icon_icon-base--star-half__3zYvE:before{content:'\f022'}.icon_icon-base--star-half_empty__3xXpN:before{content:'\f024'}.icon_icon-base--mail-alt__1a9Lc:before{content:'\f0e0'}.icon_icon-base--github-text__1lhFT:before{content:'\f307'}.icon_icon-base--twitter__2d2ag:before{content:'\f309'}.icon_icon-base--facebook__3k6p_:before{content:'\f30c'}.icon_icon-base--linkedin__3pCme:before{content:'\f318'}.icon_icon-base--instagram__3kmd1:before{content:'\f32d'}.icon_icon-base--skype__7wHkt:before{content:'\f339'}.icon_icon-base--behance__37EmO:before{content:'\f34e'}.icon_animate-spin__3o3Mj{-webkit-animation:icon_spin__5oEj9 2s infinite linear;animation:icon_spin__5oEj9 2s infinite linear;display:inline-block}@-webkit-keyframes icon_spin__5oEj9{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}@keyframes icon_spin__5oEj9{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}

@font-face{font-family:'basic-design-system';src:url(../../static/media/basic-design-system.78c12d88.eot);src:url(../../static/media/basic-design-system.78c12d88.eot) format("embedded-opentype"),url(../../static/media/basic-design-system.bf88abfe.woff2) format("woff2"),url(../../static/media/basic-design-system.3b27b5de.woff) format("woff"),url(../../static/media/basic-design-system.95894421.ttf) format("truetype"),url(../../static/media/basic-design-system.6a8a9329.svg) format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'basic-design-system';src:url(../../static/media/basic-design-system.78c12d88.eot);src:url(../../static/media/basic-design-system.78c12d88.eot) format("embedded-opentype"),url(../../static/media/basic-design-system.bf88abfe.woff2) format("woff2"),url(../../static/media/basic-design-system.3b27b5de.woff) format("woff"),url(../../static/media/basic-design-system.95894421.ttf) format("truetype"),url(../../static/media/basic-design-system.6a8a9329.svg) format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'basic-design-system';src:url(../../static/media/basic-design-system.78c12d88.eot);src:url(../../static/media/basic-design-system.78c12d88.eot) format("embedded-opentype"),url(../../static/media/basic-design-system.bf88abfe.woff2) format("woff2"),url(../../static/media/basic-design-system.3b27b5de.woff) format("woff"),url(../../static/media/basic-design-system.95894421.ttf) format("truetype"),url(../../static/media/basic-design-system.6a8a9329.svg) format("svg");font-weight:normal;font-style:normal}h1,h3,h4{margin:0}.title_title__24oAE{margin:0;width:auto}.title_title--font-small__YcOgT{font-size:12px}.title_title--font-normal__1d1Ib{font-size:16px}.title_title--font-caption__13-2n{font-size:18px}.title_title--font-medium__1I8uK{font-size:20px}.title_title--font-large__2Evun{font-size:24px}@media (max-width: 1024px){.title_title--font-large__2Evun{font-size:20px}}@media (max-width: 768px){.title_title--font-large__2Evun{font-size:18px}}@media (max-width: 600px){.title_title--font-large__2Evun{font-size:16px}}@media (max-width: 480px){.title_title--font-large__2Evun{font-size:12px}}.title_title--font-heading3__uY0ia{font-size:30px}.title_title--font-heading2__2wFoE{font-size:60px}.title_title--font-heading1__BSHch{font-size:80px}@media (max-width: 1024px){.title_title--font-heading1__BSHch{font-size:30px}}@media (max-width: 768px){.title_title--font-heading1__BSHch{font-size:24px}}@media (max-width: 600px){.title_title--font-heading1__BSHch{font-size:20px}}@media (max-width: 480px){.title_title--font-heading1__BSHch{font-size:18px}}.title_title--normal__2tdgm{font-weight:normal}.title_title--bold__1ZHFJ{font-weight:bold}.title_title--right__1WlO0{text-align:right}.title_title--left__3RZDZ{text-align:left}.title_title--center__13pAw{text-align:center}.title_title--dark__2s73y{color:#000}.title_title--light__1-KDt{color:#fff}.title_title--openSans__2mBxL{font-family:"Open Sans"}


/*# sourceMappingURL=main.df7444f3.chunk.css.map*/