@import '../../../scss/mixins';
@import '../../../scss/variables';


.item {
  margin: 0 auto;
  &__cont-icon{
    width: 50px;
    float: left;
  }

  &__cont-info{
    width: 200px;
    float: left;
  }

  &__title{
    font-weight: bold;;
    font-size:  map-get($font-size,normal)!important;
    float: left;
    padding-left: map-get($spacing,small); 
    display: block;
    width: 100%
  }
  &__paragraph {
      /*small: 12px, 
    normal: 16px, 
    caption: 18px,
    medium: 20px,
    large: 24px,
    heading3: 30px,
    heading2: 60px,
    heading1: 80px*/
    font-size:  map-get($font-size,small)!important;
    float: left;
    padding-left: map-get($spacing,small); 
    display: block;
   
  }
 
}
