@import '../../../scss/mixins';
@import '../../../scss/variables';

.button {
  margin: 0 auto;

  &--default-p-s {
    @include button(default-p-s);
  }
  &--default-p-m {
    @include button(default-p-m);
  }
  &--default-p-l {
    @include button(default-p-m);
  }
  &--default-s-s {
    @include button(default-s-s);
  }
  &--default-s-m {
    @include button(default-s-m);
  }
  &--default-s-l {
    @include button(default-s-m);
  }
}

