@import './scss/variables.scss';
@import './scss/mixins.scss';

body {
}
.user-display{
  position: fixed;
  top: 8px;
  color: #fff;
  z-index: 22;
  text-align: right;
  padding-right: 30px;
  width: 100%;
  font-size: 13px;
  right: -16px;
 
  & a {
    margin: 12px 10px;
    float: right;
    color: #fff;
  }
  & p{
    width: 114px;
    height: 15px;
    overflow: hidden;
    float: right;
  }
  @media(max-width: map-get($breakpoints, sm)) {
    right: 0;
    top: 0;
    font-size: 12px;
   };
}

.homeApp {
  width: 100%;
  float: left;
  background-color: #000;
  color: #fff;
  position: absolute;
  height: 100vh;


  


 

  &__info {
    position: absolute;
    top: 10%;
    text-align: center;
    left: 15%;
    padding: 50px;
    box-sizing: border-box;
    border: solid 4px #fff;
    border-radius: 15px;
    width:70%;
  height:400px;
  margin:0 auto;
  position:absolute;
 
  }
  &__info-button {
    position: relative;
    z-index: 999;
    margin-top: 40px;
    & button{
      position: relative;
    z-index: 999;
    }
  }
  
  & video {
    width: 100%;
    opacity: 0.2;
    height: 600px;
  }

}

.wrapper-app {
  width: 1280px;
  margin:  80px auto;
  
  @media(max-width: map-get($breakpoints, xl)) {
    width: 100%;
   };
}
.icon-wrapper{
  width: 100%;
  text-align: right;
  height: 60px;
  padding: 20px;
box-sizing: border-box;
  
}

.icon-view{
  width: 40px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: -19px;
  float: right;
  
  &--active{
   color: #FFFFFF;
    background-color: map-get($primary-palette,primary);
  }

  &--last{
    margin-right: 33px;
   }
 
}

.header{
  width: 100%;
  position: fixed;
  top: 0;
  transition: 0.5s;
  z-index: 2;
  height: 75px;
  overflow: hidden;
  background-color: #000;

  &__title{
    position: absolute;
    z-index: 2;
    top: 34%;
    color: #FFFFFF;
    left: 5%;
    transition: 0.5s;
  }

  & video {
    width:100%;
    opacity: 0.2;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
  height: 400px;
  transition: 0.5s;
  }

}
.more-info{
width: 100%;
position: fixed;
bottom: 0;
left:0;
background: #fff;
z-index: 25;
transition: all 0.6s ease;


&__wrapper{
  width: 1280px;
  margin:  auto;
  @media(max-width: map-get($breakpoints, xl)) {
    width: 100%;
   };
}

&__image{
  float: left;
  width: grid-width(3, true);
  text-align: right;
  margin-top: 10px;
  & img {
    width: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border: 5px solid map-get($primary-palette,lighten-10);
  }
  @media(max-width: map-get($breakpoints, xl)) {
    width: 100%;
    text-align: center;
   };
}

&__cancel{
  float: right;
  width: 40px;
  height: 40px;
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #000;
  color: #FFF;
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 8px;

&:hover {
  width:40px;
  color: #FFF;
  //text-decoration: underline;
 // background-color: map-get($secundary-palette,lighten-10);#EB3457
 background-color: map-get($primary-palette,darken-10);
 cursor:pointer;
}

}

&__info{
  float: left;
  width: grid-width(9, true);
  text-align: left;
  margin-top: 40px;
  @media(max-width: map-get($breakpoints, xl)) {
    width: 100%;
   };
  & span {
    width: 80%;
    height: 20px;
    margin: 5px 20px;
    border-bottom: solid 1px #ccc;
    float: left;
    padding: 10px 20px;

  }

  & i {
     float: left;
     margin-right: 10px;
  }

  & a {
    color: map-get($secundary-palette,secundary);
    text-decoration: none;
  }

  & a:hover {
    color: map-get($secundary-palette,lighten-10);
    text-decoration: underline;
  }
}

  &--show {
    opacity: 1;
    height: 500px;
    @media(max-width: map-get($breakpoints, xl)) {
      height: 100%;
     };
  }
  &--close{
    opacity: 0;
    height: 0;
  }
}

.loading {
  width: 100%;
  text-align: center;
  & img {
    width: 100px;
    margin-top: 15%;
  }
}
.footer {
  width:100%;
  background-color: map-get($secundary-palette,darken-20);
  color: #FFF;
  float: left;
  height: 75px;
  text-align: center;
  padding: 25px;
  box-sizing: border-box;
  font-size: 12px;
  margin-top: 15px;

}

.bkg-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  top: 0;
  left: 0;
  display: none;

  &--show {
    display: block;
  }

  &--close {
    display: none;
  }

}