@import 'variables';
@import 'functions';

@mixin box-size($height,  $width) {
  height: $height;
  width: $width;
}

@mixin button($type) {
  box-sizing: border-box;
  cursor: pointer;
  outline: unset;
  padding: 10px 15px;
  text-align: center;
  margin-top: 0;
  font-size:  map-get($font-size,caption)!important;
  text-shadow: 1px 1px 0 rgba(0,0,0,.1);
  transition: all .4s ease;
    font-size: 13px;
    border: none;
    
  &:hover {
    transition:  .3s ease;
  }

  & svg {
    fill: #fff;
  }
  //'default-rectangle-primary-small'
  @if $type == 'default-p-s'  {
    background-color: map-get($base-color, primary) !important;
    border-radius: map-get($border-radius, none) !important;
    padding:map-get($spacing, xs)  map-get($spacing, small) !important ; 
    color:  #fff !important;

    &:hover {
      background-color: map-get($primary-palette, darken-10)!important; 
      color: #fff !important;
      box-shadow: 0 -3px 0 rgba(0,0,0,.2) inset;

    }

    &:active {
      background-color: #ff0232!important; 
    }
   }
    //'default-rectangle-primary-medium'
   @if $type == 'default-p-m'  {
    background-color: map-get($base-color, primary) !important;
    border-radius: map-get($border-radius, none) !important;
    padding:map-get($spacing, xs)  map-get($spacing, medium) !important ; 
    color:  #fff !important;

    &:hover {
      background-color: map-get($primary-palette, darken-10)!important; 
      color: #fff !important;
      box-shadow: 0 -3px 0 rgba(0,0,0,.2) inset;

    }

    &:active {
      background-color: #ff0232!important; 
    }
   }

  //'default-rectangle-primary-large'
   @if $type == 'default-p-l'  {
    background-color: map-get($base-color, primary) !important;
    border-radius: map-get($border-radius, none) !important;
    padding:map-get($spacing, xs)  map-get($spacing, large) !important ; 
    color:  #fff !important;

    &:hover {
      background-color: map-get($primary-palette, darken-10)!important; 
      color: #fff !important;
      box-shadow: 0 -3px 0 rgba(0,0,0,.2) inset;

    }

    &:active {
      background-color: #ff0232!important; 
    }
   }

//'default-rectangle-secundary-small'
   @if $type == 'default-s-s'  {
    background-color: map-get($base-color, secundary) !important;
    border-radius: map-get($border-radius, none) !important;
    padding:map-get($spacing, xs)  map-get($spacing, small) !important ; 
    color:  #fff !important;

    &:hover {
      background-color: map-get($secundary-palette, darken-10)!important; 
      color: #fff !important;
      box-shadow: 0 -3px 0 rgba(0,0,0,.2) inset;

    }

    &:active {
      background-color: map-get($secundary-palette, lighten-10)!important; 
    }
   }
//'default-rectangle-secundary-medium'
   @if $type == 'default-s-m'  {
    background-color: map-get($base-color, secundary) !important;
    border-radius: map-get($border-radius, none) !important;
    padding:map-get($spacing, xs)  map-get($spacing, medium) !important ; 
    color:  #fff !important;

    &:hover {
      background-color: map-get($secundary-palette, darken-10)!important; 
      color: #fff !important;
      box-shadow: 0 -3px 0 rgba(0,0,0,.2) inset;

    }

    &:active {
      background-color: map-get($secundary-palette, lighten-10)!important; 
    }
   }

//'default-rectangle-secundary-large'
   @if $type == 'default-s-l'  {
    background-color: map-get($base-color, secundary) !important;
    border-radius: map-get($border-radius, none) !important;
    padding:map-get($spacing, xs)  map-get($spacing, large) !important ; 
    color:  #fff !important;

    &:hover {
      background-color: map-get($secundary-palette, darken-10)!important; 
      color: #fff !important;
      box-shadow: 0 -3px 0 rgba(0,0,0,.2) inset;

    }

    &:active {
      background-color: map-get($secundary-palette, lighten-10)!important; 
    }
   }

  
}

@mixin bg-image($image) {
  //background-attachment: fixed;
  background-image: url($image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;

}
